.room-lookup-header{
    display: inline;
    
}
.room-lookup{
    margin-top: 30px;

}
 .right-box{
     border: 1px solid #DDDDDD;
     border-radius: 5px;
     padding:20px 20px 30px 20px;

 }
 .input-width{
	width:279.7px;
     height: 23px;
     padding: 0px;
     font-size: 11px;

 }
 .floor{
     width:107px;
      height: 23px;
     padding: 0px;
     font-size: 11px;
     display: inline-block;

 }
 .optional{
     color:#BBBBBB;
     font-size: 11px;
 }
 .search-btn{
     width:68.9px;
     height: 25px;
     color: #ffffff;
     background-color: #3384FB;
     padding: 0px 12px;
     border-radius: 5px;

 }

 .control-label{
font-weight: normal;

 }

