.room-lookup-header{
    display: inline-block;
}
.login-info {
    padding: 30px 0;
}
.room-lookup{
    margin-top: 30px;
}
 .right-box{
     border: 1px solid #DDDDDD;
     border-radius: 5px;
     padding:20px;

 }
 .input-width{
	width:280px;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px; 
 }
 .floor{
     width:107px;
     display: inline-block;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px; 

 }
 .optional{
     color:#BBBBBB;
 }
 .search-btn{
     width:69px;
     color: #fff;
     background-color: #3384FB;
 }

 .control-label{
    font-weight: normal;

 }

 .seat-available, .amenities-available, .specific-time{
    font-size: 11px;
}
 /*This css for search result view*/

.searchResults{

    border-top: #1b6d85 solid 1px;
    margin: 20px;
    padding-top: 60px;

}.searchResultBuilding{
    display: inline-block;
    font-size: 24px;

 }
 .matchingSearch{
    width: 600px;
    float: right;
   

 }
 .previous{
   display: inline-block;

 }

 span a:hover{

    text-decoration: none;
 }
.whiteSpace{
    padding-right: 20px;
}
.roomsName{
    width: 400px;

}
.roomsNameList
{
    list-style-type: none;
    line-height: 25px;
    padding-left: 0px;
}


.roomsNameList li{
    border-top: solid 1px #ccc;
     border-bottom: solid 1px #ccc;
}



