<section class="container" ng-controller="ConferenceRoom">
    <h1 class="room-lookup-header">Conference Room Looukup</h1>
    <span class="login-info pull-right">Welcome Ketan <a><img src="#"></a></span>
    <div class="row room-lookup">
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-2 col-md-2 col-lg-2">Site</div>
                    <div class="col-md-6 col-lg-8">
                        <select class="selected-txt" ng-model="selectedTestAccount" ng-options="c as c.name for c in testAccounts"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-md-2 col-lg-2">Building</div>
                    <div class="col-md-6 col-lg-8">
                        <select class="selected-txt" ng-model="selectedTestAccount" ng-options="c as c.name for c in testAccounts"></select>
                    </div>
                </div>
                <div class="form-group" style="display: none">
                    <div class="col-sm-2 col-md-2 col-lg-2">Floor</div>
                    <div class="col-md-6 col-lg-8">
                        <select class="floor" ng-model="selectedTestAccount" ng-options="c as c.name for c in testAccounts"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-md-2 col-lg-2">Room</div>
                    <div class="col-md-6 col-lg-8">
                        <select class="selected-txt" ng-model="selectedTestAccount" ng-options="c as c.name for c in testAccounts"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-6 col-lg-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Include Unabailabe Rooms
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-md-2 col-lg-2">Date</div>
                    <div class="col-md-6 col-lg-8">
                        <input type="text" class="form-control selected-txt" ng-click="open2()" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="">Time Range</div><span class="optional">Optional</span>
                        </div>
                    <div class="col-md-6 col-lg-8">
                        <select class="selected-txt" ng-model="selectedTestAccount" ng-options="c as c.name for c in testAccounts"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="">Duration</div><span class="optional">Optional</span>
                        </div>
                    <div class="col-md-6 col-lg-8">
                        <select class="selected-txt" ng-model="selectedTestAccount" ng-options="c as c.name for c in testAccounts"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="">Seats</div><span class="optional">Optional</span>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1"> 2-4
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2"> 5-8
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" value="option3"> 9-12
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox4" value="option4"> 13-20
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox5" value="option5"> 20+
                        </label>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="">Amenities</div><span class="optional">Optional</span>

                    </div>
                    <div class="col-md-6 col-lg-8">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox6" value="AVCN"> AVCN
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox7" value="Projector"> Projector
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox8" value="option3"> <img src="#">
                        </label>
                    </div>
                </div>





                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-6 col-lg-8">
                        <button type="submit" class="btn search-btn">Search</button>
                    </div>
                </div>
            </form>
        </section>






        <section class="col-xs-6 col-md-6 col-lg-4">

            <div class="right-box">
                <h4>
                    Find and reserve an available conference room
                </h4>
                <p class="">
                    Book a conference room here and then complete the reservation in Calendar on your Mac. If a room you need is already booked, use this tool to email the meeting organizer.

                </p>
                <p>
                    Need help? Get <a href="#">step-by-step instructions</a> on how to use this tool.
                </p>


            </div>


        </section>

    </div>


    </div>

</section>