<!-- Single Room Search -->
<section class="single-room-search">
<h2>{{inputData.d |date :"EEEE, MMMM dd, yyyy"}}</h2>
   <!--  <h2>{{inputData.searchDate.toString()}}</h2> -->
    <h4>{{inputData.room.roomName}}</h4>
    <div class="sr-header">
        <span><img src="images/adir.png"><span class="sr-img">Open in Apple Directory</span>
        </span>
        <span>
           <img class="sr-img" src="images/email.png">
           <spam class="sr-img">Email all bookers</spam>
     </span>
        <span uib-popover-template="dynamicPopover.templateUrl" popover-trigger="outsideClick: outsideClick" popover-placement="bottom" class="pull-right info-image">Legend  <span class="info-icon" aria-hidden="true">i</span></span>
    </div>

    <script type="text/ng-template" id="myPopoverTemplate.html">
        <h4>{M} Chambre [AVCN] (8) {RESTRICTED} <br>[DEU] EMA 2nd</h4>
        <div class="legend-details">
            <p><span class="text-color">{M}</span> = Managed room. Reservations must be approved by the room manager.</p>
            <p><span class="text-color">Chambre</span> = Room name</p>
            <p><span class="text-color">[AVCN]</span> = Apple Video Conferencing Network</p>
            <p><span class="text-color">(8)</span> = Room Capacity</p>
            <p><span class="text-color">{RESTRICTED}</span> = Badge-restricted room access.</p>
            <p><span class="text-color">[DEU]</span> = Country</p>
            <p><span class="text-color">EMA</span> = Building</p>
            <p><span class="text-color">2nd</span> = Floor</p>
        </div>
        <div class="color-indicate">
            <span class="white-box"></span><strong>Available</strong>
            <span class="gray-box"></span><strong>Booked</strong>
            <span class="blue-box"></span><strong>Reserved</strong>
        </div>
    </script>

    <table class="table">
        <tr>
            <td class="align-time">Time</td>
            <td>
                <div class="col-md-6 booked-time-line">Booked time</div>
                <div class="col-md-6 text-right booked-by-line">Booked By</div>
            </td>
        </tr>
    </table>
    <div class="ScrollStyle">
        <table class="table scroll-popover-fix">
            <tr ng-repeat="slot in singleroom_data.slot track by $index">
                <td class="border-line" ng-if="$index%4==0" rowspan="4" id="{{hours[$index/4]}}">{{hours[$index/4]}}</td>
                <td ng-if="slot.type=='free'" class="border-line">
                  <a uib-popover-template="bookSlot.templateUrl" class="free"
                        popover-class= "book-room"
                        popover-append-to-body="false"
                        popover-trigger="outsideClick: outsideClick"
                        popover-placement="bottom"
                        popover-dismiss="close()"
                        ng-if="slot.type=='free'"
                        ng-mouseover="addDurationClass(singleroom_data, $index)"
                        ng-mouseout="removeDurationClass(singleroom_data, $index)"
                        ng-click="addSelectedClass(singleroom_data, $index)"
                        ng-class="{'highlight-free-slot':slot.highlight, 'selected-free-slot': slot.selected}">&nbsp;</a>
                </td>
                <td ng-if="slot.type=='busy'" class="border-line busy">
                    <div ng-if="slot.firstCell==true" class="row busy-center">
                        <div class="col-md-6">{{slot.displayTime | ignoreTimeZone}} to : {{slot.busyTill | ignoreTimeZone}}</div>
                        <div class="col-md-6" ng-click="open(slot)">
                           <a href="#"> {{slot.organizer.name}}</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <script class="scroll-popover-fix" type="text/ng-template" id="bookSlot.html">
            <div ng-if="!reservationComplete">
              <div>
               {{inputData.room.roomName}}
              </div>
              <div>
               <label>From: </label>
               <span>{{slot.startDurationTime | date: 'h:mm a' : 'UTC'}}</span>
               <label>To: </label>
               <span>{{slot.endDurationTime | date: 'h:mm a' : 'UTC'}}</span>
              </div>
                <button class="btn btn-primary btn-block" ng-click="creatEvent($index)">Book Room <span class="loader-image" ng-if="eventLoader">
                    <span class="loader"></span>
                </span></button>

            </div>
            <div class="reservation-complete" ng-if="reservationComplete">
        Your reserveration is completed. You can change the event details in Calendar.
    </div>
        </script>

    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Contact Jassica Swift</h3>
            <p>Blue 06 (4) CU01 1st - Tuesday, September 13, 2016</p>
            <label>Recipients</label>
            <p><label> {{selected.organizer.email}}</label></p>
        </div>
        <div class="modal-body" id="modal-body">
            <div style="min-height:500px;">
                <form>
                    <div class="form-group">
                        <label for="yourName">Your Name</label>
                        <input type="text" class="form-control" id="yourName" ng-model="selected.organizer.name" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <label for="yourEmail">Your Email</label>
                        <input type="email" class="form-control" id="yourEmail" ng-model="selected.organizer.email" placeholder="">
                        <div class="form-check">
                            <label class="form-check-label">
                  <input type="checkbox" class="form-check-input"> CC me
                </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Subject">Subject</label>
                        <input type="text" class="form-control" id="Subject" value="Regarding your room book..." placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="Message">Message</label>
                        <textarea class="form-control" id="Message" rows="6"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary pull-left" type="button" ng-click="ok()">Send Message</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </script>
</section>
<!-- end of single room search -->
